body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff0000;
}

#intro-screen {
    background-color: purple ;
    color: #00d5ff;
    width: 90%;
    padding: 50xp;
}



button{
    background-color: black;
    color: #001aff;
    padding: 20xp;
    border-radius: 5xp;
}
#game-screen {

    display: none;

}